<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <servers/>
  <mirrors/>
  <proxies>
	  <proxy>
	      <id>A Proxy</id>
	      <active>true</active>
	      <protocol>http</protocol>
	      <host>drop2.server.lan.at</host>
	      <port>8080</port>
	      <nonProxyHosts>www.google.com|*.example.com</nonProxyHosts>
	   </proxy>
  </proxies>
  <profiles/>
  <activeProfiles/>
</settings>